@import '../variables.scss';

.about-container {
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: $about-background;
  padding: 2%;
  color: $about-font;
  .name {
    width: 150px;
    word-wrap: normal;
  }
  h1,
  h2 {
    margin: 0;
  }
}
