@import '../variables.scss';

.about-container {
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
  background-image: url('../images/headshot-blacknwhite.png');
  background-color: rgba($color: $about-background, $alpha: 1);
  background-position: right;
  background-size: 700px;
  background-repeat: no-repeat;
  height: 450px;
  padding: 2%;
  color: $about-font;
  .name {
    width: 150px;
    word-wrap: normal;
  }
  .about-me {
    max-width: 600px;
  }
  h1,
  h2 {
    margin: 0;
  }
}
