@import '../variables.scss';

.contact-container {
  margin-top: 50px;
  margin-left: 5%;
  .icon {
    font-size: 2em;
    margin-right: 5px;
  }
  .flex {
    display: flex;
    align-items: baseline;
  }
  h3 {
    margin: 0;
  }
  .contact {
    color: $font-color;
    text-decoration: none;
  }
  .contact:visited {
    font-style: none;
    color: $font-color;
    text-decoration: none;
  }
  .contact:hover {
    color: $contact-hover;
    font-size: 20px;
  }
}
