@import '../variables.scss';

.contact-container {
  margin-top: 50px;
  .icon {
    color: $font-color;
    font-size: 2em;
    margin-right: 5px;
  }
  .flex {
    display: flex;
    align-items: baseline;
  }
  h3 {
    margin: 0;
  }
}
