@import '../variables.scss';

#contact-container {
  margin-top: 50px;
  margin-bottom: 75px;
  .icon {
    font-size: 2em;
    margin-right: 5px;
  }
  .flex {
    display: flex;
    align-items: baseline;
  }
  h3 {
    margin: 0;
  }
  .contact {
    color: $font-color;
    text-decoration: none;
    transition: 0.5s;
  }
  .contact:visited {
    font-style: none;
    color: $font-color;
    text-decoration: none;
  }
  .contact:hover::before {
    transform: scale(1.1);
  }
  .contact:hover {
    color: pink;
    text-shadow: 0 0 5px black;
  }
}
