@import '../variables.scss';

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  width: 90%;

  height: 50px;
  color: $footer-font;
  background-color: $footer-background;
}

@media only screen and (max-width: 600px) {
  .footer-container {
    width: 93%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 1px 10px;
    p {
      text-align: center;
    }
  }
}