@import '../variables.scss';

#nav-bar {
  position: fixed;
  top: 0;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  background-color: $nav-background;
  #nav-menu {
    display: flex;
    font-weight: bolder;
    align-items: center;

    .nav-menu-item {
      white-space: nowrap;
      padding: 10px 10px 0 0;
      background-color: $nav-background;
      color: black;
    }
  }
}
