#nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 100%;
  background-color: rosybrown;
  #nav-menu {
    display: flex;
    font-weight: bolder;
    align-items: center;

    .nav-menu-item {
      white-space: nowrap;
      padding: 15px 10px;
      background-color: rebeccapurple;
      color: black;
    }
  }
}
