@import '../variables.scss';

.skills-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: $skills-font;
  background-color: $skills-background;
  padding: 15px 5%;
  h4,
  ul {
    margin: 0;
    padding: 0;
  }
  h4 {
    margin-bottom: 5px;
    font-size: 1.5em;
  }
  ul {
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid thin $skills-font;
  }

  .list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.25em;
    .frameworks-list-item,
    .languages-list-item {
      margin-right: 5px;
      width: 22%;
    }
    .experiences-list-item {
      width: 45%;
    }
  }
}
