$font-color: #1e2d2f;
$footer-background: #1e2d2f;
$footer-font: white;
$about-font: white;
$about-background: #1e2d2f;
$nav-background: white;
$contact-icons: #1e2d2f;
$contact-hover: pink;
$projects-background: #1e2d2f;
$projects-font: white;
$skills-background: black;
$skills-font: white;
$resume-background: black;
$resume-font: white;
$resume-font-hover: pink;
$resume-button: #1e2d2f;
